# Data Preparation

In [5]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', '{:,.2f}'.format)

df_energy = pd.read_csv('../data/energy_dataset.csv')
df_weather = pd.read_csv('../data/weather_features.csv')
df_energy.head()

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,generation hydro pumped storage aggregated,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation marine,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.00,329.00,0.00,"4,844.00","4,821.00",162.00,0.00,0.00,0.00,NaN,863.00,"1,051.00","1,899.00",0.00,"7,096.00",43.00,73.00,49.00,196.00,0.00,"6,378.00",17.00,NaN,"6,436.00","26,118.00","25,385.00",50.10,65.41
1,2015-01-01 01:00:00+01:00,449.00,328.00,0.00,"5,196.00","4,755.00",158.00,0.00,0.00,0.00,NaN,920.00,"1,009.00","1,658.00",0.00,"7,096.00",43.00,71.00,50.00,195.00,0.00,"5,890.00",16.00,NaN,"5,856.00","24,934.00","24,382.00",48.10,64.92
2,2015-01-01 02:00:00+01:00,448.00,323.00,0.00,"4,857.00","4,581.00",157.00,0.00,0.00,0.00,NaN,"1,164.00",973.00,"1,371.00",0.00,"7,099.00",43.00,73.00,50.00,196.00,0.00,"5,461.00",8.00,NaN,"5,454.00","23,515.00","22,734.00",47.33,64.48
3,2015-01-01 03:00:00+01:00,438.00,254.00,0.00,"4,314.00","4,131.00",160.00,0.00,0.00,0.00,NaN,"1,503.00",949.00,779.00,0.00,"7,098.00",43.00,75.00,50.00,191.00,0.00,"5,238.00",2.00,NaN,"5,151.00","22,642.00","21,286.00",42.27,59.32
4,2015-01-01 04:00:00+01:00,428.00,187.00,0.00,"4,130.00","3,840.00",156.00,0.00,0.00,0.00,NaN,"1,826.00",953.00,720.00,0.00,"7,097.00",43.00,74.00,42.00,189.00,0.00,"4,935.00",9.00,NaN,"4,861.00","21,785.00","20,264.00",38.41,56.04

In [6]:
df_weather.head()

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,rain_3h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,2015-01-01 00:00:00+01:00,Valencia,270.48,270.48,270.48,1001,77,1,62,0.00,0.00,0.00,0,800,clear,sky is clear,01n
1,2015-01-01 01:00:00+01:00,Valencia,270.48,270.48,270.48,1001,77,1,62,0.00,0.00,0.00,0,800,clear,sky is clear,01n
2,2015-01-01 02:00:00+01:00,Valencia,269.69,269.69,269.69,1002,78,0,23,0.00,0.00,0.00,0,800,clear,sky is clear,01n
3,2015-01-01 03:00:00+01:00,Valencia,269.69,269.69,269.69,1002,78,0,23,0.00,0.00,0.00,0,800,clear,sky is clear,01n
4,2015-01-01 04:00:00+01:00,Valencia,269.69,269.69,269.69,1002,78,0,23,0.00,0.00,0.00,0,800,clear,sky is clear,01n